.header {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

.image__block {
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 80px;

        animation-duration: 4s;
        animation-name: spiner;
        animation-iteration-count: infinite;
    }
}

.d_md_none {
    @media (max-width: 767px) {
        display: none;
    }
}

.title {
    text-align: center;

    color: #26acba;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Amiri', serif;
}

@keyframes spiner {
    from {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.btn {
    display: flex;
    justify-content: center;

    margin: .3rem 0 .5rem;
}